.die{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    aspect-ratio: 1 / 1; 
    width: 90%;  
    border-radius: 10px;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    background-color: white;
    font-size: 2.75rem;
    font-weight: bold;
    cursor: pointer;
    font-family: Karla, sans-serif;
    transition: 
    transform 0.1s ease,
    box-shadow 0.1s ease,
    background-color 0.2s ease;
}

.die:hover {
  transform: scale(1.05);
}

/* When clicked */
.die:active {
  transform: scale(0.93);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.die:focus-visible {
  outline: 2px solid #5D5FEF;
  outline-offset: 2px;
}
